@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Student Management Web</h1>
    <br />
    <br />
    <h4>Who are you?</h4>
    <div class="nav-item">
        <a padding-right: 30px class="btn btn-dark" asp-area="Teacher" asp-controller="TeacherHome" asp-action="Index">Teacher</a>
        <a class="btn btn-dark" asp-area="Student" asp-controller="StudentHome" asp-action="Index">Student</a>
    </div>
</div>
